.purview {
  padding: 0 0.5rem;
  &-header {
    @include flex($xGap: 0.5rem);
    margin-bottom: 1rem;
    &-input {
      width: 200px;
    }
  }
}

.icon {
  @include flex($x: flex-start, $xGap: 0.75rem);
}
