.menu {
  background-color: #f5f5f5;
  height: 100%;
  width: 200px;
  padding: 0.25rem 0;
  &-item {
    padding: 0.5rem 0;
    margin: 0.1rem 0;
    cursor: pointer;
    background-color: #f5f5f5;
    &:hover {
      background-color: #e0e0e0;
    }
    &-main {
      width: 80%;
      margin: 0 auto;
    }
  }
}
