@font-face {
  font-family: 'iconFont';
  src: url('~/src/asset/font/icon/icomoon.eot?tg5yi5');
  src: url('~/src/asset/font/icon/icomoon.eot?tg5yi5#iefix')
      format('embedded-opentype'),
    url('~/src/asset/font/icon/icomoon.ttf?tg5yi5') format('truetype'),
    url('~/src/asset/font/icon/icomoon.woff?tg5yi5') format('woff'),
    url('~/src/asset/font/icon/icomoon.svg?tg5yi5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
