.config {
  &-form {
    width: 50%;
    min-width: 500px;
    &-body {
      @include flex($x: stretch, $y: stretch, $dir: column, $yGap: 1rem);
    }
    &-footer {
      margin-top: 1rem;
      @include flex($x: flex-end, $y: stretch, $xGap: 1rem);
    }
  }
}
