.layout {
  &-header {
    height: 60px;
  }
  &-body {
    height: calc(100vh - 60px);
    @include flex($x: stretch, $y: stretch);
    &-children {
      width: 100%;
      &-panel {
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
        max-height: 100%;
        overflow: auto;
      }
    }
  }
}
